*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

@font-face {
  font-family: 'Hack';
  src: url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-bold.woff2?sha=3114f1256') format('woff2'), url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-italic.woff2?sha=3114f1256') format('woff2'), url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'), url('https://cdn.bootcdn.net/ajax/libs/hack-font/3.3.0/web/fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
    font-family: Hack, 'Microsoft YaHei', monospace;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);
}

code {
    font-family: Hack, 'Microsoft YaHei', monospace;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

body,
figure,
ul {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

input,
textarea {
    outline: 0;
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme) inset;
}

img {
    display: block;
    max-width: 100%;
}
